
<%= form_with("/posts/#{@post.id}", method="patch", writing =
  "<div>
    <label for='title'>title</label>
    <input type='text' id='title' name='title' value=#{@post.title}><br>
  </div>
  <div> 
    <label for='content'>content</label>
    <input type='text' id='content' name='content' value=#{@post.content}><br>
  </div>") %>

<%= yield %>
