<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    </style>
  </head>

  <body>
    <form method="post" action="/posts">
      <label for="title">title</label>
      <input type="text" id="title" name="title"><br>
      <label for="content">content</label>
      <input type="text" id="content" name="content"><br>
      <input type="submit" value="Submit">
    </form>
    
    <%= yield %>
  </body>
</html>