<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    </style>
  </head>

  <body>
    <div>
      <%= @post.title %>
      <%= @post.content %>
    </div>
    <a href="/posts">back to all posts</a>
    
    <%= yield %>
  </body>
</html>
